

/*mobile*/

@media only screen and (max-width: 767px) {
	.logo-section img {
        margin: 0 auto;
        width: 35%;
    }

	.nav-mobile {
		position: absolute;
		top: -4em;
	}

	.font-30 {
		font-size: 22px;
	}

	.padding-banner {
	    padding-top: 10em;
    padding-bottom: 7em;
	}
    .shink-fix {
        padding: 1em 3em 0;

    }
    .navbar-collapse {
        background-color: #565656;

    }
    .shink-header-full .navbar.pt-lg-5 {

        padding-top: 0 !important;
    }
    .shink-header-full .nav-mobile {
background-color: #181818;
        top: -3em;
    }
    .shink-header-full .nav-item a {
        color: #d0d0d0 !important;
    }
    .shink-header-full {
        padding: 0.3em 2em;

    }
    .shink-header-full .logo-section img {
        width: 25% !important;
    }
	.w-100-res {
		width: 100%;
	}

	.font-24 {
		font-size: 18px;
	}

	.font-18 {
		font-size: 15px;
	}

	.w-65 {
		width: 65% !important;
	}

	.non_header-section {
		min-height: 10em;
		position: unset;
		background-color: #aeaeae;
	}

	.inner-caption {
		top: 2em;
	}

	.font-36 {
		font-size: 24px;
	}
    .font-15 {
        font-size: 13px;
    }
	.font-20 {
		font-size: 18px;

	}
    .event-row h5 {
        min-height: 1em;
    }
    .service_description {
        min-height: auto;
    }
    .navbar-nav .dropdown-menu {

        padding-left: 15px;
    }
    .event-Carousel .owl-dots {

        padding-top: 0;
    }
	.font-14 {
		font-size: 11px;
	}
	.nav-item .font-15 {
		color: unset;

	}
    .non_header-section .nav-item .font-15{
        color: #fff !important;

    }


}
	/*vertical*/
	@media screen and (min-width: 768px) and (max-width: 991px) {
		.logo-section img {
			margin: 0 auto;
		}
        .navbar-nav .dropdown-menu {

            padding-left: 15px;
        }
		.nav-mobile {
			position: absolute;
			top: -4em;
            background-color: #181818;
		}

		.padding-banner {
		    padding-top: 15em;
    padding-bottom: 15em;
		}

		.w-65 {
			width: 65% !important;
		}

		.non_header-section {
			min-height: 13em;
			position: unset;
			background-color: #aeaeae;
		}

		.inner-caption {
			top: 7em;
			left: 7%;

		}

        .service_description {
            min-height: auto;
        }
        .font-44 {
            font-size: 30px;
        }
        .red-border-2{

        border-width: 0 3px 0 0;
    border-right: solid #C60000;
}
.font-16 {
    font-size: 14px;
}


.shink-fix {
    padding: 1em 3em 0;

}
.navbar-collapse {
    background-color: #565656;

}
.shink-header-full .navbar.pt-lg-5 {

    padding-top: 0 !important;
}
.shink-header-full {
    padding: 0.3em 2em;

}
.shink-header-full .logo-section img {
    width: 17% !important;
}
.nav-item .font-15 {
    color: unset;

}
.non_header-section .nav-item .font-15{
    color: #fff !important;

}
.shink-header-full .nav-item a {
    color: #fff !important;
}
	}


	/*landscape*/

	@media (min-width: 992px) and (max-width: 1199px) {
		.font-14 {
			font-size: 12px;
		}
        .font-14 {
            font-size: 11px;
        }
		.font-15 {
			font-size: 14px;
		}

		.social-button {

			width: 26px;
			height: 26px;
			line-height: 27px;

			margin-right: 5px;

		}

		.font-16 {
			font-size: 13px;
		}

		.w-100-res {
			width: 100%;
		}

		.padding-banner {
			padding-top: 20em;
    padding-bottom: 10em;
		}

		.inner-caption {
			top: 15em;
			left: 5%;

		}

		.font-20 {
			font-size: 16px;
		}
        .event-row h5 {
            min-height: 3.5em;
        }
		.font-13 {
			font-size: 11px;
		}
        .shink-fix {
            padding: 1em 4em 0;

        }
        .shink-header-full .logo-section img {
            width: 60% !important;

        }
	}

	/*large*/
	@media (min-width: 1400px) {
		.padding-banner {
            padding-bottom: 25em;
            padding-top: 38em;
        }

		.inner-caption {
			left: 11%;
			top: 20em;

		}
        .shink-fix {
            padding: 1em 15em 0;

        }
        .shink-header-full {
            /* padding: 0.5em 12em; */
        }
        .shink-header-full .navbar.pt-lg-5 {
            padding-top: 2rem !important;
        }
        .membership-section p.font-14{
            min-height: 5em;
        }
	}
    @media only screen and (max-height: 575.98px) and (orientation: landscape) {

        .logo-section img {

            width: 18%;
        }
        .container {
            max-width: 98%;
        }

        .w-65 {
            width: 65% !important;
        }

        .inner-caption {
            top: 5em;
        }
        .event-row h5 {
            min-height: 2.5em;
        }
        .shink-header-full .logo-section img {
            width: 15% !important;
        }
       

    }
